name: Deploy Application

on:
  push:
    branches:
      - master 
      - "*"   
  pull_request:
    branches:
      - "*"  

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      APP_KEY: ${{ secrets.APP_KEY }}
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }} 
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}  
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3  

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, ctype, fileinfo, openssl, PDO, bcmath, tokenizer, xml
      
      - name: Install Composer dependencies
        run: composer install --prefer-dist --no-suggest

      - name: Run Laravel Pint
        run: composer exec pint

  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    needs: build  # Spécifie que ce job dépend de 'build'
    
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      
      - name: Log in to Docker Hub
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: aymennefzi99/wastewise
      
      - name: Build and push Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: .
          push: true
          tags: aymennefzi99/wastewise:latest
          labels: ${{ steps.meta.outputs.labels }}
  
  deploy_to_vm:
  name: Deploy_to_VM
  runs-on: ubuntu-latest
  needs: push_to_registry  # Spécifie que ce job dépend de 'push_to_registry1'

  steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@v1.1.0
      with:
        host: ${{ secrets.VM_HOST }}           
        username: ${{ secrets.VM_USER }}   
        password: ${{ secrets.VM_PASSWORD }}
        port: ${{ secrets.VM_PORT }}           
        script: |
          echo "${{ secrets.VM_PASSWORD }}" | sudo -S docker pull aymennefzi99/wastewise
          echo "${{ secrets.VM_PASSWORD }}" | sudo -S docker-compose -f /home/ubuntu-server/docker-compose.yml up -d

