name: Deploy Application

on:
  push:
    branches:
      - master 
      - "*"   
  pull_request:
    branches:
      - "*"  

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      APP_KEY: ${{ secrets.APP_KEY }}  
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3  

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, ctype, fileinfo, openssl, PDO, bcmath, tokenizer, xml
      
      - name: Install Composer dependencies
        run: composer install --prefer-dist --no-suggest

      - name: Run Laravel Pint
        run: composer exec pint
      
      - name: Create deployment artifact
        env:
          GITHUB_SHA: ${{ github.sha }}
        run: tar -czf "${GITHUB_SHA}".tar.gz --exclude=*.git --exclude=node_modules *

      - name: Store artifact for distribution
        uses: actions/upload-artifact@v3
        with:
          name: app-build
          path: ${{ github.sha }}.tar.gz

      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: app-build
          path: ./artifact

      - name: Build Docker image
        run: |
          cd ./artifact
          ls      